<div  class="container-fluid">
  <!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        &nbsp;&nbsp;<li class="nav-item">
          <a  routerLink="add-category" class="nav-link" class="btn btn-primary active" role="button" >Add Category</a>
        </li>&nbsp;&nbsp;
        
        <li class="nav-item">
          <a  routerLink="paymentType" class="nav-link" class="btn btn-primary active" role="button" >Add Payment Type</a>
        </li> &nbsp;&nbsp;
        <li class="nav-item">
          <a  routerLink="viewUser" class="nav-link" class="btn btn-primary active" role="button" >Users</a>
        </li> &nbsp;&nbsp; 
        <li class="nav-item">
          <a  routerLink="viewProducts" class="nav-link" class="btn btn-primary active" role="button" >Products</a>
        </li> &nbsp;&nbsp;              
      </ul>
    </nav> -->   
      <router-outlet></router-outlet>
  </div>
  