<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin </title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="admin-uses.component.css">
    
    
   

</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
          &nbsp;&nbsp;<li class="nav-item">
            <a  href="/" class="nav-link" class="btn btn-primary active" role="button" >Logout</a>
          </li>&nbsp;&nbsp;             
        </ul>
      </nav>
    <div class="btn-group">
        
        <button id="b1"><a href="/add-category">view categoery</a></button>
        <button  id="b2"><a href="/viewUser">view users</a></button>
        <button  id="b3"><a href="/viewProducts">view products</a></button>
        <button routerLink="paymentType" id="b3"><a href="/paymentType">View Payment Type</a></button>
      </div>
</body>
</html>