<div class="panel panel-default">
    <div class="panel-heading">
      <h1 style="text-align: center">Category</h1><br>          
    </div>
    <div class="panel-body">
        <table class="table table-hover table-sm">
            <thead class="thead-light">
                <tr>
                    <th>SL NO.</th>
                    <th>Category Name</th>
                    <th>Category Measurement</th>
                    <th>Action</th> 
                </tr>
            </thead>
            <tbody>
                 <tr *ngFor="let cat of categories; let i = index">
                     <td>{{i+1}}</td>
                    <td>{{cat.productCategory}}</td>
                    <td>{{cat.productMeasurement}}</td>
                    <td><button  class='btn btn-primary' (click)="delCategory(cat.categoryId)">Delete</button>&nbsp;
                      <button  class='btn btn-info'
                      data-toggle="modal" (click)="editCategory(cat)" data-target="#myModal">Update</button>
                    </td>
                  </tr> 
            </tbody><br>
        </table>
    </div>
  </div>


  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
            <form #frm="ngForm" (submit)="update(frm)" *ngIf="editDetails.editstatus==true">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="text-align: center">Update Category</h4>
          
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <div>

                
                        <div class="form-group">
                            <label for="name">Category Name</label>
                            <input type="text" class="form-control" name="categoryName" [ngModel]="editDetails.editcategory.productCategory" >
                        </div>
                
                        <div class="form-group">
                            <label for="name">Category Measurement</label>
                            <input type="text" class="form-control" name="categoryMeasurement" [ngModel]="editDetails.editcategory.productMeasurement">
                        </div>
                                  
              </div>  
              <div>
                  <h4>Category Detail Updated!</h4>
              </div>        
                
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer" >
          <button type="submit" class="btn btn-success">Update</button>
          
        </div>
        
    </form>
      </div>
    </div>
  </div>